<!DOCTYPE html>
<html>
<body>

<form action="/action_page.php">
  Name:<br>
  <input type="text"  id="name" placeholder="name">
  <br>
  College:<br>
  <input type="text"  id="college" placeholder="college">
  <br><br>

  Course:<br>
  <input type="text" id="course" placeholder="course">
  <br><br>

  Semester:<br>
  <input type="text"  id="semester" placeholder="semester">
  <br><br>

  Contact No:<br>
  <input type="text" id="contact number" placeholder="contact number">
  <br><br>

  Facebooks Link:<br>
  <input type="text" placeholder="fb link">
  <br><br>

  Select your photo:<br>
  <input type="file" value="Choose File">

  <br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
